.button-style{
  background-color: #2978b5;
  color: white;
  
}

.text-color{
  color: #364547;
}

.google-login button{
  font-weight: 500;
  border: 1px solid gray;
  border-radius: 50px;
  width: 70%;
  padding: 5px;
  margin-bottom: 10px;
  background-color:white;
}